.col {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 0;
    margin: 5px;
    text-align: start;
}

.col img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

h2 {
    text-align: center;
}

.col h3 {
    padding: 10px;
    font-size: medium;
    margin-bottom: 0;
}

.col p {
    margin-left: 10px;
}

.col button {
    margin-left: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: #E6A563;
    color: #ffff;
    border-color: #E6A563;
}